<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<title>Battlefleet Gothic</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Ex00 of Day08 of the PHP Piscine at 42">
		<meta name="author" content="Hanu Kunduru">
		<meta name="copyright" content="Hanu Kunduru">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="rotate.css">
		<link rel="stylesheet" href="base.css">
		<link rel="stylesheet" href="incdec.css">
		
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="https://unpkg.com/angular-ui-router@0.4.2/release/angular-ui-router.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body ng-controller="myCtrl" ng-cloak>
		<div class="container">
			<div class="grid col-9"></div>

			<div class="p1 col-3" ng-show="currentPhase == 0">
				<button type="button" class="btn btn-primary" ng-click="currentPhase = 1">Start Game</button>
			</div>

			<div class="p1 col-3" ng-show="currentPhase == 1">
				<div class="info">
					<h2>Order Phase</h2>
					<p><strong>Player</strong> : {{ gameState.players[currentPlayer].playerName }}</p>
					<p><strong>Ship</strong> : {{ gameState.players[currentPlayer].ships[currentShip].name }}</p>
					<hr>
					<p><i>Power Points Available</i> : {{ gameState.players[currentPlayer].ships[currentShip].pp }}</p>
				</div>

				<div>
					<i class="material-icons" ng-click="p1.usepp(1, 'speed')">fast_forward</i>
					<div class="p1control">
						<div class="value-button" id="decrease" ng-click="p1.usepp(-1, 'speed')" value="Decrease Value">-</div>
						<input type="number" id="number" ng-value="p1.speed" disabled />
						<div class="value-button" id="increase" ng-click="p1.usepp(1, 'speed')" value="Increase Value">+</div>
						<p>Speed</p>
					</div>
				</div>

				<div>
					<i class="material-icons" ng-click="p1.usepp(1, 'shield')">verified_user</i>
					<div class="p1control">
						<div class="value-button" id="decrease" ng-click="p1.usepp(-1, 'shield')" value="Decrease Value">-</div>
						<input type="number" id="number" ng-value="p1.shield" disabled />
						<div class="value-button" id="increase" ng-click="p1.usepp(1, 'shield')" value="Increase Value">+</div>
						<p>Shield</p>
					</div>
				</div>

				<div>
					<i class="material-icons" ng-click="p1.usepp(1, 'weapon')">camera</i>
					<div class="p1control">
						<div class="value-button" id="decrease" ng-click="p1.usepp(-1, 'weapon')" value="Decrease Value">-</div>
						<input type="number" id="number" ng-value="p1.weapon" disabled />
						<div class="value-button" id="increase" ng-click="p1.usepp(1, 'weapon')" value="Increase Value">+</div>
						<p>Weapons</p>
					</div>
				</div>

				<div>
					<i class="material-icons" ng-click="p1.usepp(1, 'repair')">error_outline</i>
					<div class="p1control">
						<div class="value-button" id="decrease" ng-click="p1.usepp(-1, 'repair')" value="Decrease Value">-</div>
						<input type="number" id="number" ng-value="p1.repair" disabled />
						<div class="value-button" id="increase" ng-click="p1.usepp(1, 'repair')" value="Increase Value">+</div>
						<p>Repair</p>
					</div>
				</div>

				<p></p>
				<button type="button" class="btn btn-info" ng-click="sendp1()">Allocate Power Points</button>
			</div>

			<div class="p1 col-3" ng-show="currentPhase == 2">
				<div class="info">
					<h2>Movement Phase</h2>
					<p><strong>Player</strong> : {{ gameState.players[currentPlayer].playerName }}</p>
					<p><strong>Ship</strong> : {{ gameState.players[currentPlayer].ships[currentShip].name }}</p>
					<hr>
					<p><i>Min Distance Allowed</i> : {{ p2.minSpeed }}</p>
					<p><i>Max Distance Allowed</i> : {{ p2.maxSpeed }}</p>
					<hr>
				</div>

				<div>
					<i class="material-icons" ng-click="p2.adddist(1)">arrow_forward</i>
					<div class="p1control">
						<div class="value-button" id="decrease" ng-click="p2.adddist(-1)" value="Decrease Value">-</div>
						<input type="number" id="number" ng-value="p2.distance" />
						<div class="value-button" id="increase" ng-click="p2.adddist(1)" value="Increase Value">+</div>
						<p>Distance to Move</p>
					</div>
					<p></p>
					<button type="button" class="btn btn-primary" ng-click="sendp2move()">Move Ship</button>
				</div>

				<hr>
				<div>
					<p>Turn Ship</p>
					<i class="material-icons" ng-click="p2.turn = -1; sendp2turn();">undo</i>
					<i class="material-icons" ng-click="p2.turn = 1; sendp2turn();">redo</i>
				</div>
				<hr>
				<p></p>
				<button type="button" class="btn btn-danger" ng-click="sendp2()">End Turn</button>
			</div>
		</div>

		<script src="grid-layout.js"></script>
		<script src="incdec.js"></script>
	</body>
</html>
<!-- 		<div class="card">
			<img src="ship1.jpg" alt="Avatar" style="width:100%">
			<div class="container">
			<h5><b>Despoiler Class Battleship</b></h5>
			<ul>
				<li>Hull Points : 0</li>
				<li>Engine Power : 0</li>
				<li>Speed : 0</li>
				<li>Handling : 0</li>
				<li>Shield : 0</li>
				<li>Weapons : 0</li>
			</ul>
			</div>
		</div> -->

<!-- 		<div class="card card-inset">
			<img src="ship2.jpg" alt="Avatar" style="width:100%">
			<div class="container">
			<h5><b>Retaliator Cruiser</b></h5>
			<ul>
				<li>Hull Points : 0</li>
				<li>Engine Power : 0</li> 
				<li>Speed : 0</li> 
				<li>Handling : 0</li>
				<li>Shield : 0</li> 
				<li>Weapons : 0</li>
			</ul>
			</div>
		</div> -->

<!-- 			<button type="button" class="btn btn-default">Default</button>
			<button type="button" class="btn btn-primary">Primary</button>
			<button type="button" class="btn btn-success">Success</button>
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-link">Link</button> -->

		<!-- <div class="container" style="text-align: left;">
			<form>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </div>
			  <div class="form-group">
			    <label for="exampleSelect1">Example select</label>
			    <select class="form-control" id="exampleSelect1">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </div>
			  <div class="form-group">
			    <label for="exampleSelect2">Example multiple select</label>
			    <select multiple class="form-control" id="exampleSelect2">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </div>
			  <div class="form-group">
			    <label for="exampleTextarea">Example textarea</label>
			    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
			    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
			  </div>
			  <fieldset class="form-group">
			    <legend>Radio buttons</legend>
			    <div class="form-check">
			      <label class="form-check-label">
			        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			        Option one is this and that&mdash;be sure to include why it's great
			      </label>
			    </div>
			    <div class="form-check">
			    <label class="form-check-label">
			        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
			        Option two can be something else and selecting it will deselect option one
			      </label>
			    </div>
			    <div class="form-check disabled">
			    <label class="form-check-label">
			        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
			        Option three is disabled
			      </label>
			    </div>
			  </fieldset>
			  <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      Check me out
			    </label>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
 -->

